
html{
    font-size: 62.5%;
}

body{
    font-family: 'Limelight', cursive;
    font-family: 'Readex Pro', sans-serif;
    background: #e8e8e8;
}

.main-container{
    display: block;
    width: 100vw;
    margin: 0 auto;
}

.container{
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}

header{
    background: #fff;
    display: block;
    float: left;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #4a1446;
}

h1{
    font-size: 2.4rem;
    color: #4a1446;
    margin-bottom: 20px;
}

h2{
    font-size: 2rem;
    color: #4a1446;
    margin: 20px 0;
}

p{
    margin-bottom: 10px;
    line-height: 1.4;
    text-align: justify;
    color: #333;
}

ol{
    margin-left: 30px;
}

ol li{
    font-size: 1.4rem;
    color: #454545;
}

section{
    background: #fff;
    font-size: 1.5rem;
    display: block;
    float: left;
    width: 100%;
    padding: 20px;
}

section nav{
    display: block;
    float: left;
    width: 30%;
}

nav li{
    background: #efefef;
    margin: 1px 20px 1px 0;
    padding: 10px;
}

nav li:hover{
    background: #ccc;
    color: #fff;
}

nav a{
    text-decoration: none;
    color: #4a1446;
}

nav a:hover{
    color: #fff;
}

section article{
    display: block;
    float: left;
    width: 70%;
}

footer{
    background: #4a1446;
    
    display: block;
    float: left;
    width: 100%;
    padding: 20px;  
}

footer p{
    color: #fff;
    font-size: 1.2rem;
}

footer small{
    font-size: 80%;
    display: block;
}

.cog-branding .cog-branding--minimal{
    visibility: hidden !important;
}