table {

	border: 5px solid #e8e8e8;
	background: #ffffff;
	width: 100%;
	border-collapse: collapse;
	text-align: center;

}

table thead tr {
	background: #4a1446;
	color: #ffffff;
	text-transform: uppercase;
}

table tbody tr:nth-child(odd) {
	background: #e8e8e8;
}

table tbody tr:hover {
	background: #777;
}

table th,
table td {
	padding: 1rem;
	font-size: 0.8rem;
	text-align: center;
	vertical-align: middle;
}

table tr td{
	border: 1px solid #fff;
}

table tr:first-child {
	text-align: left;
	font-weight: bold;
}

.table-container {
	/*padding: 2rem 1rem;*/
}

.table-container h3 {
	font-size: 1.5em;
}

.table-container tfoot {
	background: #EEEEEE;
}

.table-container tfoot td {
	font-weight: bold;
}
